body{
    min-height: 100vh;
    background-color: #0a2421;
}
header{
    display: grid;
    grid-template-columns:  200px 200px 200px 200px;
   
}
header a{
    text-decoration: none;
    color: #F1DDA0;
    font-size: 25px;
    margin-top: 50px;
    margin-left: 475px;
    
}
p{
    color: #ffffff;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 80px;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:50px;
    font-size: 30px;
    margin-left: 550px;
    margin-top: 100px;
}
form .input{
    font-size: 20px;
    border-radius: 10px;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}
form label{
    color: #F1DDA0;
}
form .out{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    color: #10322e;
    background-color:#F1DDA0;
}
form .in{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    color: #0c2422;
    background-color:#F1DDA0;
}
form button{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    color: #0b2320;
    background-color:#F1DDA0;
}
form .buttons{
    display: flex;
    flex-direction: row;
    margin-right: 510px;
    gap: 2rem;
}